.container{
     display: flex;
     justify-content: space-between;
     gap:10rem;
    flex-direction: row;
    
 align-items: center;
align-content: center;
    justify-content: center;
  
    width: 100vw;
    height: 100vh; }

  .input{
    display: flex;
    flex-direction: column;
justify-content: center;
background-color: rgb(7, 46, 33);    
  }