
.box {
  border-radius: 100px;
  box-shadow: 
  var(--shadow-horizontal) var(--shadow-vertical) var(--shadow-blur) black;

}
.boxcontainer{
  background-color: aqua;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
.text {
  display: flex;
  color: black;
  font-size: 30px;
  justify-content: center;
  padding: 10px;
}
/* background-color: rgb(255, 255, 255);

/* what is the diffeerence betwee selffff */
